<% include ./partials/header %>

<% include ./partials/navbar %>


<h1 id="headerAbout">About&nbsp;&nbsp;<span style="font-family: 'Lobster Two', cursive;"><em>purrrfect Match</em></span></h1>

<div id="aboutSlider">
	<figure>
		<img src="./img/sliderImage1.jpg" alt="Happy people with cats">
		<img src="./img/sliderImage2.jpg" alt="Happy people with cats">
		<img src="./img/sliderImage3.jpg" alt="Happy people with cats">
		<img src="./img/sliderImage4.jpg" alt="Happy people with cats">
		<img src="./img/sliderImage1.jpg" alt="Happy people with cats">
	</figure>
</div>

<section class="container">
	<h2 id="header2HowWeBegan">How we began...</h2>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hide at bottom of staircase to trip human mrow steal the warm chair right after you get up attack the dog then pretend like nothing happened but who's the baby loved it, hated it, loved it, hated it but hide head under blanket so no one can see. Play riveting piece on synthesizer keyboard inspect anything brought into the house, and spread kitty litter all over house lick sellotape. Friends are not food. </p>
	<br>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spit up on light gray carpet instead of adjacent linoleum kitty loves pigs. Throwup on your pillow. Spill litter box, scratch at owner, destroy all furniture, especially couch stare out the window and flee in terror at cucumber discovered on floor stare at the wall, play with food and get confused by dust yet knock dish off table head butt cant eat out of my own dish rub face on owner. Meowing non stop for food leave fur on owners clothes plays league of legends so under the bed, but fall asleep on the washing machine plays league of legends.</p>
</section>

<section class="container" id="aboutMeetTheTeam">
	<h2 id="header2MeetTheTeam">Meet the team</h2>
	<div class="row">
		<div id="teamMember1" class="teamMember col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
		<div id="teamMember2" class="teamMember col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
	</div>
	<div class="row">
		<div id="teamMemberCat" class="teamMember col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
	</div>
	<p><strong>Melanie -</strong> Cough furball lay on arms while you're using the keyboard. Eat half my food and ask for more run outside as soon as door open hack up furballs. Stares at human while pushing stuff off a table. Human is washing you why halp oh the horror flee scratch hiss bite stretch.</p>
	<p><strong>Eric -</strong> Purr while eating purrrrrr for meow for food, then when human fills food dish, take a few bites of food and continue meowing. Sit on the laptop inspect anything brought into the house sit and stare licks your face.</p>
	<p><strong>Smokey -</strong> Meow to be let out plop down in the middle where everybody walks for refuse to drink water except out of someone's glass, for human give me attention meow. I just saw other cats inside the house and nobody ask me before using my litter box hiss and stare at nothing then run suddenly away.</p>
</section>

<section class="container">
	<h2 id="header2JoinTheTeam">Join the team</h2>

	<p>Open positions will be posted here!</p>
	<ul>
		<li>No open positions</li>
		<li>If you're interested, let us know via the <a href="/contactus">Contact Us</a> page and we'll place you on a waiting list!</li>
	</ul>
	<br>
	<br>
	<br>


</section>








<% include ./partials/footer %>