<% include ./partials/header %>

<% include ./partials/navbar %>


<h1 id="headerHowItWorks">How it works</h1>

<section class="howItWorks container-fluid">

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksStep">
				<ul>
					<li>Shelters &#38; breeders add available cats</li>
					<li>Not limited to shelters and breeders</li>
					<li>Anyone can put a cat up for adoption</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksImg">
				<img src="./img/howItWorksStep1.jpg" class="thumbnail" alt="Two caged cats">
			</div>	
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksImg">
				<img src="./img/howItWorksStep2.jpg" class="thumbnail" alt="Kitten on a blanket">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksStep">
				<ul>
					<li>Real cats, real people</li>
					<li>Each posting verified</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksStep">
				<ul>
					<li>Cat lovers browse freely</li>
					<li>Advanced filter options</li>
					<li>Detailed descriptions</li>
					<li>Favorite your top cats</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksImg">
				<img src="./img/howItWorksStep3.jpg" class="thumbnail" alt="Two kittens looking up">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksImg">
				<img src="./img/howItWorksStep4.jpg" class="thumbnail" alt="Kittens leap attacking">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksStep">
				<ul>
					<li>No hoops to jump through</li>
					<li>Contact the provider directly</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksStep">
				<ul>
					<li>Presto!</li>
					<li>A match made in heaven</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 howItWorksImg">
				<img src="./img/howItWorksStep5.jpg" class="thumbnail" alt="Person holding cat">
			</div>
		</div>
		</div>
	</div>


</section>





<% include ./partials/footer %>