<% include ./partials/header %>

<% include ./partials/navbar %>


<a id="goBackButton" class="btn btn-default btn-lg" href="/back" onclick="history.go(-1)">Go Back</a>

<h1 id="headerLogin">Login</h1>

<form action="/login" method="POST">
	<div class="form-group">
		<label for="loginUsername">Username:</label>
		<input type="text" class="form-control" id="loginUsername" name="username" placeholder="username" required>
	</div>
	<div class="form-group">
		<label for="loginPassword">Password:</label>
		<input type="password" class="form-control" id="loginPassword" name="password" placeholder="password" required>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-default btn-lg" value="Login!">
	</div>
</form>


<% include ./partials/footer %>